html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #371b17;
}

@font-face {
  font-family: 'MyFont';
  src: url(../assets/Prince\ Valiant.ttf);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "MyFont";
}

#__next {
  width: 100%;
  height: 100%;
  background: no-repeat url(../assets/cr.jpg);
}

header {
  text-align: center;
}



button {
	appearance: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1 {
  padding-top: 20px;
  margin: 0;
  font-weight: 100;
  color: white;
  font-size: 53px;
  border: 1px solid black;
}

h4 {
  padding-right: 300px;
  font-size: 19.5px;
  font-weight: 300;
}

.scene {
  width: 200px;
  height: 375px;
  margin: 40px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background-image: url(../assets/cardback.jpg);
}

.card__face--back {
  background-image: url(../assets/background.png);
  transform: rotateY(180deg);
}
