.container {
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons {
	display: flex;
	justify-content: center;
}

.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 80px 40px 0;
	border-color: transparent #007bff transparent transparent;
}

.trianglebis {
	width: 0;
height: 0;
border-style: solid;
border-width: 40px 0 40px 80px;
border-color: transparent transparent transparent #007bff
}

.name {
	color: white;
}